/* AVFW
   Term 1308
   Banchop Ben Kangdouangnhot
 */
   
   

body {
    font-family: "Helvetica", "Arial", sans-serif;
	margin: 1.5em auto;
    padding: 1.5em;
    background-color: #fff;
    color: #000000;

    
}
p {
    margin: 1.5em 0;
   
}
h1 {
	
	text-align: center;
    background-color: #00BFFF;
    color: #F8F8FF;
    font-size: 200%;
    padding: 1em;
    border: 3px solid black;
    font-family:"Times New Roman", Times, serif;

}

h2 {
	text-align: left;
	font-size: 130%;
	color: #9400D3;
	text-align: center;
    padding: 1em;
    font-family:"Times New Roman", Times, serif;
}


